name: Proxy-Sync Python

on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: pip install httpx

      - name: Fetch Playlist
        run: python fetch_script.py

      - name: Commit and Push
        run: |
          git config --global user.name "GithubBot"
          git config --global user.email "bot@github.com"
          git add playlist.m3u
          git diff --quiet && git diff --staged --quiet || (git commit -m "Python Oracle Update: $(date)" && git push)
